{% extends 'manpower/base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to Elite Works CRM App</h1>
            <br>
            <p class="lead">This app is Currently is Testing & Delopment Stage. Following features of the App are
                Currently Working.</p>
            <br>
            <ul>
                <li>All the Features of Tender</li>
                <li>All the Feature of Supervisor</li>
                <li>Some Features of Project</li>
            </ul>
            <br>
            <br>

            <h5>Test the App & Share Scrrenshop and Error Details if any in Whatsapp Group...</h5>

        </div>
    </div>

    {% endblock content %}
